<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SecurityHub</title>

  <!-- Favicon + CSS -->
  <link rel="icon" type="image/png" sizes="32x32" href="/static/imagem/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/imagem/favicon-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/imagem/apple-touch-icon.png">
  <link rel="shortcut icon" href="/static/imagem/favicon.ico" type="image/x-icon">
  <link rel="manifest" href="/static/imagem/site.webmanifest">

  <link rel="stylesheet" href="/static/css/animacao.css" />
  <link rel="stylesheet" href="/static/css/gerenciador.css" />
  <link rel="stylesheet" href="/static/css/gerenciadores-usuario.css" />
  <link rel="stylesheet" href="/static/css/cadastro-epi.css" />
  <link rel="stylesheet" href="/static/css/pagina-inicial1.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
</head>

<body>

  <nav class="navbar">
    <img class="security" src="/static/imagem/security.png" alt="Security Logo">
    <button class="login-btn">
      <a href="/templates/usuarios/gerenciar-usuario.html">Voltar</a>
    </button>
  </nav>

  <div id="particles-js"></div>

  <div class="container">
    <div class="gerenciadores-card" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">

      <div class="setavoltar fadeInUp" onclick="history.back()" title="Voltar">⮜</div>

      <div class="logo-box fadeInUp">
        <img src="/static/imagem/security.png" alt="SecurityHub Logo" class="logo-gerenciador" />
      </div>

      <h1 class="titulo-painel fadeInUp">
        <span class="subtitulo-painel">Painel do usuário</span> — controle total em um só lugar
      </h1>

      <div class="botoes-gerenciamento fadeInUp">
        <a href="/templates/gerenciadores-usuario/epis-disponiveis.html" class="botao-gerenciar">EPIs Disponíveis</a>
        <a href="/templates/gerenciadores-usuario/emprestimos.html" class="botao-gerenciar">Meus Empréstimos</a>
      </div>

    </div>
  </div>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script> AOS.init();</script>
  <script src="/static/js/particles.js"></script>

</body>
</html>
