

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    box-sizing: border-box;
    flex-direction: column;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 30px 15px;
    }
}

.navbar {
    height: 80px;
    background-color: #EEEEEE; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.3s;
    border-bottom: solid 5px rgba(59, 58, 58, 0.062);
    
}
.navbar:hover {
    height: 90px;
    transition: 0.3s;
}

.gerenciador-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    max-width: 450px;
    width: 100%;
    text-align: center;
    position: relative;
    top: -100px;
}

.gerenciador-box h1 {
    color: #4a6cf7;
    margin-bottom: 60px;
}

.botoes-gerenciamento {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.botao-gerenciar {
    background: #4a6cf7;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
}

.botao-gerenciar:hover {
    background: #3f5be0;
    transform: scale(1.03);
    color: #000;
}

.seta-voltar {
    position: absolute;
  top: 52px;
  left: 15px;
  font-size: 35px;
  color: #3d3d3d;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.seta-voltar:hover {
    color: #000;
  transform: scale(1.2);
}