<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de EPIs - SecurityHub EPI</title>
    <link rel="stylesheet" th:href="@{/css/pagina-inicial.css}">
    <link rel="stylesheet" th:href="@{/css/create.css}">
    <link rel="stylesheet" href="/backEPI_Projeto/src/main/resources/static/css/lista.epi.css">
    
</head>
<body>
<div class="container-lista">
    <h2>EPIs Cadastrados</h2>

    <a th:href="@{/epis/cadastrar-epis}" class="btn">Cadastrar Novo EPI</a>



    <nav class="navbar">
        <img class="security" th:src="@{imagem/security.png}" alt="">
        <button class="login-btn">
           <a th:href="@{login.html}"> <i class="fas fa-user"> Login</i> </a>
        </button>
    </nav>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome do EPI</th>
            <th>Quantidade</th>
            <th>Ações</th> </tr>
        </thead>
        <tbody>
        <tr th:each="epi : ${epis}">
            <td th:text="${epi.id}">1</td>
            <td th:text="${epi.nome}">Capacete de Segurança</td>
            <td th:text="${epi.quantidade}">100</td>
            <td>
                <a th:href="@{/epis/editar/{id}(id=${epi.id})}" class="btn btn-small">Editar</a>
                <a th:href="@{/epis/excluir/{id}(id=${epi.id})}" class="btn btn-small btn-danger">Excluir</a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(epis)}">
            <td colspan="4">Nenhum EPI cadastrado.</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>