<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gerenciar Usuários</title>
  <link rel="stylesheet" th:href="@{/css/gerenciador.css}" />
  <link rel="stylesheet" th:href="@{/css/cadastro-epi.css}" />
  <link rel="stylesheet" th:href="@{/css/pagina-inicial1.css}" />
</head>
<body>
  <nav class="navbar">
        <img class="security" src="/static/imagem/security.png" alt="">
        <button class="login-btn">
            <a th:href="@{/gerenciadores}"><i class="fas fa-user">Voltar</i></a>
        </button>
    </nav>
  <div class="container">
    <div class="gerenciador-box">
      <div class="seta-voltar" onclick="history.back()" title="Voltar">⮜</div>
      <h1>Gerenciador de Usuários</h1>

      <div class="botoes-gerenciamento">
        <a href="cadastrar-usuario.html" class="botao-gerenciar">Cadastrar Usuário</a>
        <a href="lista-usuario.html" class="botao-gerenciar">Listar Usuários</a>
        
      </div>
    </div>
  </div>
</body>
</html>
