<!DOCTYPE html> 
<html lang="pt-br"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Security Hub</title> 
    <link rel="stylesheet" th:href="@{/css/pagina-inicial.css}">
    <link rel="stylesheet" th:href="@{/css/animacao.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <nav>
       
        <div class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container-fluid">
                <div class="container">
                <a class="navbar-brand" href="#">Security Hub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="usuarios.html">Usuários</a>
                        </li>
                        <li class="nav-item">
                            <a class="gerenciador-epi" href="epis.html">EPIs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="atualizacao.html">Atualizações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="cadastro-epi.html">Devoluções</a>
                        </li>
                        </div>
    </nav>

</head> 
<body>
    

    <div class="container">
        <div id="particles-js"></div>
        <section class="page-inicial fadeInUp">
    <h1 class="fadeInLeft text-black">Bem-vindo ao <h1>Security Hub</h1></h1>
    <p class="fadeInRight">Gerencie seus EPIs de forma eficiente e segura.</p>
    
   <div class="coluna-botoes fadeInUp">
  <a href="usuarios.html" class="button fadeInLeft">Gerenciar Usuário</a> 
  <a href="epis.html" class="button fadeInRight">Gerenciar EPIs</a> 
  <a href="atualizacao.html" class="button fadeInLeft">Gerenciar Atualização</a> 
  <a href="cadastro-epi.html" class="button fadeInRight">Gerenciar Devolução</a> 
</div>

</section>

    </div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <script th:src="@{js/particles.js}"></script>
</body> 
</html>
