<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/pagina-inicial1.css}">
    
    <title>SecurityHub</title>
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/imagem/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/imagem/favicon-16x16.png}">
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/imagem/apple-touch-icon.png}">
  <link rel="shortcut icon" th:href="@{/imagem/favicon.ico}" type="image/x-icon">
  <link rel="manifest" th:href="@{/imagem/site.webmanifest}">
</head>
<body>
     <nav class="navbar">
        <img class="security" th:src="@{imagem/security.png}" alt="">
        <button class="login-btn">
           <a th:href="@{login}"> <i class="fas fa-user"> Login</i> </a>
        </button>
    </nav>
    <img class="pessoa" th:src="@{imagem/pessoa.png}" alt="">

    <div class="Texto">
        <h1 class="t"> Sobre Nós</h1>
        <p class="t1">Na SegurityHub, priorizamos a segurança de todos. Fornecemos, cadastramos e controlamos o empréstimo de Equipamentos de Proteção Individual (EPIs), assegurando que cada colaborador tenha o material adequado para trabalhar com segurança e em conformidade com as normas.</p>
       <a th:href="@{pagina-inicial}"><Button class="b1"  >Acessar Painel</Button></a>
    </div>

    <div class="bola">

             
    </div>
    <div class="quadrado"></div>

    
</body>
</html>